<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Visitor Admin</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-light-blue.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="jquery-3.3.1.js"></script>
    <script src="visitor_admin.js"></script>
</head>
<body>

<header class="w3-container w3-theme w3-padding">
    <div class="w3-center">
        <h1 class="w3-xxxlarge w3-animate-bottom">Visitor Administration</h1>
    </div>
    <div class="w3-center">
        <p id="time"></p>
    </div>
</header>
<div class="w3-container w3-theme-dark w3-padding"></div>

<div class="w3-row-padding w3-margin-top">

    <div class="w3-half">

        <form class="w3-container w3-card-4" action="#" th:action="@{/visitor/admin}" th:object="${visitor}"
              method="post">

            <div class="w3-section">
                <input id="badgeNumber" name="badgeNumber" class="w3-input" type="text" th:value="${badgeNumber}" >
                <label for="badgeNumber">Badge Number</label>
            </div>

            <div class="w3-section">
                <input id="phoneNumber" class="w3-input" type="text" th:field="*{phoneNumber}" required>
                <label for="phoneNumber">Phone Number</label>
            </div>

            <div class="w3-section">
                <input id="firstName" class="w3-input" type="text" th:field="*{firstName}" >
                <label for="firstName">First Name</label>
            </div>

            <div class="w3-section">
                <input id="lastName" class="w3-input" type="text" th:field="*{lastName}" >
                <label for="lastName">Last Name</label>
            </div>

            <div class="w3-section">
                <input id="company" class="w3-input" type="text" th:field="*{company}" >
                <label for="company">Company</label>
            </div>

            <div class="w3-section">
                <input id="purpose" class="w3-input" type="text" th:field="*{purposeOfVisit}" >
                <label for="purpose">Purpose of Visit</label>
            </div>

            <div class="w3-section">

                <div class="w3-padding-16 w3-card">
                    <div class="w3-row-padding">
                        <label for="visitorStatuses" class="w3-left w3-third">Visitor Status:</label>
                        <ul class="w3-ul w3-third w3-card" id="visitorStatuses">
                            <li th:each="status: ${listOfVisitorStatuses}">
                                <input type="radio"
                                       th:field="*{visitorStatusSelectedValue}"
                                       th:value="${status}"/>
                                <label th:for="${#ids.prev('visitorStatusSelectedValue')}"
                                       th:text="${status}"></label>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

            <div class="w3-section">

                <div class="w3-padding-16 w3-card">
                    <div class="w3-row-padding">
                        <label for="visitorTypes" class="w3-left w3-third">Visitor Type:</label>
                        <ul class="w3-ul w3-third w3-card" id="visitorTypes">
                            <li th:each="visitorType: ${listOfVisitorTypes}">
                                <input type="radio"
                                       th:field="*{visitorTypeSelectedValue}"
                                       th:value="${visitorType}"/>
                                <label th:for="${#ids.prev('visitorTypeSelectedValue')}"
                                       th:text="${visitorType}"></label>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

            <div class="w3-section">
                <input id="hostName" class="w3-input" type="text" th:field="*{hostName}" >
                <label for="hostName">Host Name</label>
            </div>

            <div class="w3-section">
                <input id="hostMobilePhone" class="w3-input" type="text" th:field="*{hostPhone}" >
                <label for="hostMobilePhone">Host Mobile Phone</label>
            </div>

            <div class="w3-section">
                <input id="checkedInBy" class="w3-input" type="text" th:field="*{checkedInBy}" >
                <label for="checkedInBy">Checked In By</label>
            </div>

            <div class="w3-section">
                <input id="checkedOutBy" class="w3-input" type="text" th:field="*{checkedOutBy}" >
                <label for="checkedOutBy">Checked Out By</label>
            </div>

            <div class="w3-section">
                <input id="registerDate" class="w3-input" type="text" th:field="*{registerDate}" disabled="disabled" >
                <label for="registerDate">Registered Date</label>
            </div>

            <div class="w3-section">
                <input id="checkedInDate" class="w3-input" type="text" th:field="*{checkedInDate}" disabled="disabled">
                <label for="checkedInDate">Checked In Date</label>
            </div>

            <div class="w3-section">
                <input id="checkedOutDate" class="w3-input" type="text" th:field="*{checkedOutDate}" disabled="disabled">
                <label for="checkedOutDate">Checked Out Date</label>
            </div>

            <div class="w3-section">
                <input id="active" class="w3-input" type="text" th:field="*{active}" disabled="disabled">
                <label for="active">Record Active</label>
            </div>

            <div class="w3-section">
                <input id="reasonForDeletion" class="w3-input" type="text" th:field="*{reasonForDeletion}" disabled="disabled">
                <label for="reasonForDeletion">Reason for Deletion</label>
            </div>

            <div class="w3-container w3-theme w3-center w3-card-4">
                <div><input id="update" type="submit" value="Update"/>
                     <input id="delete" type="button" value="Delete"/>
                     <input id="reprint" type="submit" value="Reprint Badge" onclick="window.location.href='/printbadge'"/>
                     <input type="button" value="Back" onclick="window.location.href='/monitor'"/>
                </div>
            </div>

        </form>

    </div>

    <div class="w3-half">


        <form class="w3-container w3-card-4" action="#" th:action="@{/visitor/lookup}" th:object="${visitors}"
              method="get">

            <div class="w3-section">

                <div class="w3-padding-16 w3-card">
                    <div class="w3-row-padding">
                        <label for="visitorTypes" class="w3-left w3-third">Visitors:</label>
                        <ul class="w3-ul w3-third w3-card" id="visitorList">
                            <li th:each="visitor: ${visitors.visitors}">
                                <input type="radio"
                                       th:field="*{selected}"
                                       th:value="${visitor}"/>
                                <label th:for="${#ids.prev('selected')}"
                                       th:text="${visitor}"></label>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

        </form>

    </div>
</div>

<div class="w3-padding-16"></div>

<footer class="w3-container w3-theme-dark">
    <h5>Footer</h5>
    <p class="w3-opacity">Footer information goes here</p>
</footer>

</body>
</html>