<!DOCTYPE html>

<title>BadgeARaMaui</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-purple.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
      integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

<html>
<body>
<div class="w3-third">
    <div class="w3-container w3-padding w3-card-4">
        <header class="w3-center w3-container w3-card w3-theme w3-padding" id="myHeader">
            <h1 class="">Dave, Something Went Wrong!</h1>
            <i class="far fa-dizzy fa-5x"></i>
        </header>
        <div class="w3-center">
            <h2>Our Top Engineers are on it!</h2>
            <i
        </div>
        <footer class="w3-padding-row w3-theme-light">
            <i class="fas fa-home"></i>
            <a href="/">Go Home</a>
        </footer>
    </div>
</div>
</body>
</html>