<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PrintBadge</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-indigo.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">

    <!-- custom javascript must be below jquery library -->
    <script src="jquery-3.3.1.js"></script>
    <script src="index.js"></script>
</head>
<body>
<div class="w3-third">
    <div class="w3-container w3-card-4 w3-center w3-theme">
        <div class="w3-padding-16">
            <header id="title" class="w3-xlarge">Employee of the Year</header>
        </div>
        <div class="w3-container w3-padding-16 w3-card w3-theme-light">
            <img src="minion.png" alt="Picture" style="width:100%">
        </div>
        <div id="name" class="w3-center w3-padding-16 w3-xlarge">Name</div>
        <div id="badgeNumber" class="w3-center w3-padding-16">123456</div>
    </div>
</div>
</body>
</html>